*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('../assets/Login_bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
}

.wrapper{
    background-color: #ffffff;
    max-width: 350px;
    min-height: 500px;
    position: absolute;
    top: 50px;
    left: 150px;
    border-radius: 20px;
}

.logo{
    text-align: center;  
}

.logo img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: -15px;
    left: 130px;
}

.container{
    margin: 30px 30px;
    border: solid #FFC700 2px;
    border-radius: 10px;
    padding: 50px 20px;
    box-sizing: border-box;
}

.title-login{
    margin-bottom: 50px;
    text-align: center;
}
.title-login h2{
    margin-bottom: 20px; 
    color: #4A3B12;
}
 form input{
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
    padding-left: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.login_btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #A9E2FB;
    color: #3B5171;
    border: solid #2577F2 1px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.login_btn:hover {
    background-color: #FFC700;
}



